@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

body {
    background-color: #100E1D;
    color: #E7E7EB;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-width: 100%;
    overflow-x: hidden;
    /* overflow: hidden; */

}

.App {
    display: flex;
}

.side_panel { 
    flex: 0 1 32%;
    display: flex;
    min-width: 359px;
    min-height: 100vh;
    padding: 42px 46px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    background-color: #1E213A;
}
.side_top_section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    
}

button {
    color: inherit;
    border-style: none;
}

.btn_search_location { 
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 11px 18px;
}

.btn_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.get_user_location { 
    background: rgba(255, 255, 255, 0.2);
}
.get_user_location .material-symbols-outlined { 
    font-size: 22px;
    line-height: 100%;
}
.weather_illustration_part {
    height: 397px;
    position: relative;
}
.weather_illustration_img { 
    position: absolute;
    top: 20%;
    scale: 1.2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.weather_illustration_bg { 
    position: relative;
    top: 25%;
    scale: 1.75;
    left: 0;
    z-index: 1;
    opacity: 0.15;
}
.temprature_figure { 
    font-weight: 500;
    font-size: 144px;
    line-height: 150px;
    
}
.temp_unit { 
    color: #A09FB1;
    font-size: 60px;
    line-height: 60px;
}
.weather_description { 
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
    margin: 87px 0;
}
.side_lower_date { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
    margin-bottom: 32px;
}

.displayed_weather_location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
 }

.weather_details { 
    
    z-index: 3;
    padding: 42px 125px;
}
.main_container { 
    display: flex;
    flex-direction: column;
}
.unit_selection_btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #E7E7EB;
 }

.five_days_forecast_part {
    display: flex;
    justify-content: flex-start;
    gap: 26px;
    margin: 65px 0;
    flex-wrap: nowrap;
 }
.weather_sm_card {
    text-align: center;
    background: #1E213A;
    padding: 18px 22px;
 }
.forecast_day { 
    white-space: nowrap;
    overflow: hidden;
}
.forecast_sm_img {
    min-width: 56px;
    padding-bottom: 32px;
    margin: 0 auto;
 }
.forecast_minmax {
    display: flex;
    justify-content: space-between;
    color: #E7E7EB;
 }

.forecast_min_temp { 
    color:#A09FB1
}
.weather_highlights_title { 
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 72px;
    margin-bottom: 32px;
}
.weather_highlights_part {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
 }
.highligt_card { 
    flex: 1 1 calc(50% - 48px);
    padding-top: 22px;
    padding-bottom: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #1E213A;
    
}
.highlight_title { 
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}
.highlight_figure {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #E7E7EB;
    padding-bottom: 17px;
 }
.highlight_unit { 
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
.wind_direction_part { 
    display: flex;
    align-items: center;
    gap: 6px;
}
.wind_direction_bg { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    /* transform: rotate(-150deg); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind_direction_text { 
    font-size: 14px;
    line-height: 16px;
}
.humidity_meter_part {
    width: 100%;
    padding: 0 49px;
    position: relative;
 }
.markers_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.humidity_value_marker, .humidity_value_unit { 
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #A09FB1;
}
.humidity_meter_bar {
    width: 84%;
    background: #FFEC65;
    border-radius: 80px;
    height: 8px;
    top: 8px;
    position: relative;
 }
.humidity_meter_bg { 
    width: 100%;
    background: #E7E7EB;
    border-radius: 80px;
    height: 8px;
}
.humidity_value_unit { 
    margin-top: 2px;
    float: right;
}

/* sidemenu search variant */

.side_top_search_section {
    display: flex;
    gap: 12px;
    position: relative;
    flex-wrap: wrap;
}

.side_close_icon {
    align-self: flex-end;
    top: -20px;
    position: relative;
    cursor: pointer;
}

.search_icon {
    position: absolute;
    color: #616475;
    top: 15px;
    left: 15px;
}
.location_input {
    background-color: #1E213A;
    border: 1px solid #E7E7EB;
    padding: 14px 0;
    padding-left: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #616475;
}
.location_input:focus {
    color: #E7E7EB;
}
.btn_search {
    background: #3C47E9;
    padding: 14px 19px;
    border-style: none;
 }
.search_results {
    list-style: none;
    margin-left: 0;
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
    text-align: left;
    margin-top: 58px;
 }
.search_result { 
    display: flex;
    align-items: center;
    padding: 23px 12px;
    justify-content: space-between;
    border: 1px solid transparent;
    cursor: pointer;
}

.search_result:hover { 
  border: 1px solid #616475;
}

/* Reponsive settings */

@media (max-width: 1220px) {
    .side_panel {
        min-width: 314px;
    }

    .weather_details {
        padding: 42px 50px;
    }

    .five_days_forecast_part {
        flex-wrap: wrap;
    }

    .weather_sm_card .forecast_sm_img {
        max-height: 115px;
    }

    .weather_highlights_title {
        margin-top: 50px;
    }

}

@media (max-width: 825px) {
    .App {
        flex-direction: column;
    }

    .five_days_forecast_part {
        justify-content: center;
    }

    .highligt_card {
        flex: 1 1 100%;
    }
}